---
Checks: '*,-readability-redundant-member-init,-readability-else-after-return,-llvm-else-after-return,-llvmlibc-*,-cert-err58-cpp,-android-*,-fuchsia-*,-clang-diagnostic-reorder,-clang-diagnostic-missing-declarations,-clang-diagnostic-error,-google-runtime-references,-google-runtime-int,-google-readability-todo,-modernize-use-trailing-return-type,-modernize-use-default-member-init,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-goto,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-type-member-init,-cppcoreguidelines-non-private-member-variables-in-classes,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-avoid-non-const-global-variables,-hicpp-special-member-functions,-hicpp-avoid-goto,-hicpp-vararg,-hicpp-member-init,-readability-magic-numbers,-fuchsia-statically-constructed-objects,-google-build-using-namespace'
...
